* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: inter;
    font-weight: 400;
}

html {
    background-color: #F6F4F0;
}

header {
    background-color: #2A2C2E;
    width: 1200px;
    height: 96px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 20px 24px 20px 24px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 166px;
    height: 40px;
}

.Header-text {
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF99;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    width: 491px;
    height: 24px;
    gap: 32px;
}

#banner {
    height: 80px;
    background-color: #F4CE47;
    margin-top: 26px;
    padding: 12px;
    font-size: 48px;
    color: #F4BA30;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

#banner span {
    color: #2A2C2E;
}

main {
    height: 1847px;
    margin-top: 28px;
    padding: 42px;
    background-color: #2A2C2E;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

#row {
    
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;

}

.card {
    width: 294px;
    height: 577px;
    border-radius: 20px;
    padding: 24px;
    background-color: #FFFFFF;

    display:flex;
    flex-direction: column;
    gap: 8px;
}

.card-image {
    width: 246px;
    height: 357px;
    border-radius: 11.99px;
}

.card-content {
    width: 246px;
    height: 164px;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-size: 14px;
    line-height: 20px;
    color: #00000099;
}

.title {
    font-size: 16px;
    line-height: 24px;
    color: #000000DE;
}

.card-comments {
    width: 162px;
    height: 32px;

    display: flex;
    flex-direction: row;
    gap: 8px;
}

.comment {
    border: 1px solid #000000DE;
    border-radius: 31px;
    padding: 8px 12px 8px 12px; 
    font-size: 12px;
    line-height: 16px;
    color: #000000DE;

    display: flex;
    flex-direction: row;
    gap: 4px;
}

.rate {
    border: 1px solid #000000DE;
    border-radius: 47px;
    padding: 8px 12px 8px 12px; 
    font-size: 12px;
    line-height: 16px;
    color: #000000DE;

    display: flex;
    flex-direction: row;
    gap: 4px;
}

.card-comments img {
    width: 16px;
    height: 16px;
}

.price {
    font-size: 18px;
    line-height: 24px;

    display: flex;
    flex-direction: row;
    gap: 8px;
}

.discount {
    font-weight: 500;
    color: #00000061;
    text-decoration: line-through;
}

.promo {
    color: #000000DE;
}

#up {
    width: 1248px;
    height:88px;
    background: #2A2C2E;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 24px 0px 24px; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    gap: 16px;
}

#down {
    width: 1248px;
    height:40px;
    background: #000000DE;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 24px 12px 24px; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.privacy {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
